[Desktop Entry]
Name=Public Transport Helper Library
Name[pt]=Biblioteca Auxiliar de Transportes Públicos
Name[pt_BR]=Biblioteca auxiliar de transportes públicos
Name[uk]=Допоміжна бібліотека «Громадського транспорту»
Name[x-test]=xxPublic Transport Helper Libraryxx
Comment=A library to be used with the publictransport data engine. It provides widgets/dialogs to setup stop settings.
Comment[pt]=Uma biblioteca para usar com o motor de dados de transportes públicos. Fornece elementos/janelas para configurar as opções das paragens.
Comment[pt_BR]=Uma biblioteca para usar com o mecanismo de dados de transportes públicos. Fornece widgets/janelas para configurar as opções de paradas.
Comment[uk]=Бібліотека, яку буде використано з рушієм надання даних щодо громадського транспорту. Надає код віджетів і діалогових вікон для налаштування параметрів зупинок.
Comment[x-test]=xxA library to be used with the publictransport data engine. It provides widgets/dialogs to setup stop settings.xx

Icon=public-transport-stop
Type=Service
X-KDE-Library=publictransporthelper
X-KDE-PluginInfo-Author=Friedrich Pülz
X-KDE-PluginInfo-Email=fpuelz@gmx.de
X-KDE-PluginInfo-Name=publictransporthelper
X-KDE-PluginInfo-Version=0.10
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-License=LGPL

