[Desktop Entry]
Name=Public Transport Helper Library
Name[ca]=Biblioteca d'ajuda del Transport públic
Name[ca@valencia]=Biblioteca d'ajuda del Transport públic
Name[de]=Hilfsbibliothek für Öffentlichen Nahverkehr
Name[et]=Ühiskondliku transpordi abiteek
Name[fr]=Bibliothèque d'aide pour l'application « Transports publics »
Name[gl]=Biblioteca de axuda de transporte público
Name[km]=បណ្ណាល័យ​ជំនួយ​ការ​ដឹកជញ្ជូន​សាធារណៈ
Name[mr]=सार्वजनिक वाहतूक मदत लायब्ररी
Name[nl]=Bibliotheek voor hulp bij Openbaar vervoer
Name[pl]=Biblioteka pomocnicza komunikacji publicznej
Name[pt]=Biblioteca Auxiliar de Transportes Públicos
Name[pt_BR]=Biblioteca auxiliar de transportes públicos
Name[sk]=Pomocná knižnica verejnej dopravy
Name[sv]=Hjälpbibliotek för kollektivtrafik
Name[uk]=Допоміжна бібліотека «Громадського транспорту»
Name[x-test]=xxPublic Transport Helper Libraryxx
Comment=A library to be used with the publictransport data engine. It provides widgets/dialogs to setup stop settings.
Comment[ca]=Una biblioteca per a ser utilitzada amb el motor de dades publictransport. Ofereix estris/diàlegs per ajustar la configuració de la parada.
Comment[ca@valencia]=Una biblioteca per a ser utilitzada amb el motor de dades publictransport. Ofereix estris/diàlegs per ajustar la configuració de la parada.
Comment[et]=Ühiskondliku transpordi andmemootoriga kasutatav teek. See pakub vidinaid ja dialooge peatuste seadistuste häälestamiseks. 
Comment[fr]=Une bibliothèque à utiliser avec le moteur de données « Publictransport ». Elle fournit des composants graphiques / boîtes de dialogue pour configurer les paramètres des arrêts.
Comment[gl]=Unha biblioteca que se pode empregar co motor de datos de transporte público. Fornece de widgets e diálogos para definir as configuración de paradas.
Comment[km]=បណ្ណាល័យ​ដែល​ត្រូវ​បាន​ប្រើ​​ជាមួយ​ម៉ាស៊ីន​ទិន្នន័យ​ដឹកជញ្ជូន​សាធារណៈ ។ វា​ផ្ដល់​​ធាតុ​ក្រាហ្វិក/ប្រអប់​ដើម្បី​​ដំឡើង​ការកំណត់​បញ្ឈប់ ។
Comment[nl]=Een bibliotheek voor gebruik met de gegevensengine voor openbaar vervoer. Het levert widgets/dialogen voor het instellen van gegevens van haltes.
Comment[pl]=Biblioteka używana z silnikiem danych komunikacji publicznej. Zapewnia elementy interfejsu/okna dialogowe do konfiguracji ustawień przystanków.
Comment[pt]=Uma biblioteca a usar com o motor de dados de transportes públicos. Fornece itens para configurar as definições das paragens.
Comment[pt_BR]=Uma biblioteca para usar com o mecanismo de dados de transportes públicos. Fornece widgets/janelas para configurar as opções de paradas.
Comment[sk]=Knižnica použitá s dátovým enginom publictransport. Poskytuje widgety/dialógy na nastavene zastávok.
Comment[sv]=Ett bibliotek att använda med datagränssnittet för kollektivtrafik. Det tillhandahåller grafiska komponenter och dialogrutor för att ställa in hållplatser.
Comment[uk]=Бібліотека, яку буде використано з рушієм надання даних щодо громадського транспорту. Надає код віджетів і діалогових вікон для налаштування параметрів зупинок.
Comment[x-test]=xxA library to be used with the publictransport data engine. It provides widgets/dialogs to setup stop settings.xx

Icon=public-transport-stop
Type=Service
X-KDE-Library=publictransporthelper
X-KDE-PluginInfo-Author=Friedrich Pülz
X-KDE-PluginInfo-Email=fpuelz@gmx.de
X-KDE-PluginInfo-Name=publictransporthelper
X-KDE-PluginInfo-Version=0.11 beta
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-License=LGPL

