[Desktop Entry]
Name=Flights
Name[ast]=Flights
Name[bg]=Flights
Name[ca]=Flights
Name[ca@valencia]=Flights
Name[cs]=Flights
Name[da]=Flights
Name[de]=Flights
Name[el]=Flights
Name[en_GB]=Flights
Name[eo]=Flights
Name[es]=Flights
Name[et]=Flights
Name[fi]=Flights
Name[fr]=Flights
Name[ga]=Flights
Name[gl]=Flights
Name[hu]=Flights
Name[it]=Flights
Name[ja]=Flights
Name[kk]=Flights
Name[km]=Flights
Name[ko]=Flights
Name[lv]=Flights
Name[nb]=Flights
Name[nds]=Flights
Name[nl]=Flights
Name[nn]=Flights
Name[pa]=Flights
Name[pl]=Flights
Name[pt]=Flights
Name[pt_BR]=Flights
Name[ro]=Flights
Name[ru]=Flights
Name[sr]=Flights
Name[sr@ijekavian]=Flights
Name[sr@ijekavianlatin]=Flights
Name[sr@latin]=Flights
Name[sv]=Flights
Name[tr]=Flights
Name[uk]=Flights
Name[x-test]=xxFlightsxx
Name[zh_CN]=Flights
Name[zh_TW]=Flights
Comment=Shows flight departures/arrivals for a given airport.
Comment[ast]=Plasma Flights
Comment[ca]=Plasma Flights
Comment[ca@valencia]=Plasma Flights
Comment[cs]=Plasma Flights
Comment[da]=Plasma Flights
Comment[de]=Zeigt Abflüge/Ankünfte von Flugzeugen für einen gegebenen Flughafen.
Comment[el]=Plasma Flights
Comment[en_GB]=Plasma Flights
Comment[eo]=Plasma Flights
Comment[es]=Plasma Flights
Comment[et]=Plasma Flights
Comment[fi]=Plasma Flights
Comment[fr]=Plasma Flights
Comment[ga]=Plasma Flights
Comment[gl]=Plasma Flights
Comment[hu]=Plasma Flights
Comment[it]=Plasma Flights
Comment[ja]=Plasma Flights
Comment[kk]=Plasma Flights
Comment[km]=ប្លាស្មា Flights
Comment[ko]=Plasma Flights
Comment[lv]=Plasma Flights
Comment[nb]=Plasma Flights
Comment[nds]=Plasma Flights
Comment[nl]=Plasma Flights
Comment[nn]=Plasma Flights
Comment[pa]=ਪਲਾਜ਼ਮਾ Flights
Comment[pl]=Plazma Flights
Comment[pt]=Plasma Flights
Comment[pt_BR]=Plasma Flights
Comment[ro]=Plasma Flights
Comment[ru]=Plasma Flights
Comment[sr]=Плазмин Flights
Comment[sr@ijekavian]=Плазмин Flights
Comment[sr@ijekavianlatin]=Plasmin Flights
Comment[sr@latin]=Plasmin Flights
Comment[sv]=Plasma Flights
Comment[tr]=Plasma Flights
Comment[uk]=Плазма Flights
Comment[x-test]=xxPlasma Flightsxx
Comment[zh_CN]=Plasma Flights
Comment[zh_TW]=Plasma Flights
Type=Service
Icon=vehicle_type_plane
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_flights
X-KDE-PluginInfo-Author=Friedrich Pülz
X-KDE-PluginInfo-Email=fpuelz@gmx.de
X-KDE-PluginInfo-Name=flights
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true

