[Desktop Entry]
Name=Flights
Name[ca]=Flights
Name[cs]=Lety
Name[de]=Flüge
Name[es]=Vuelos
Name[et]=Lennud
Name[fr]=Vols
Name[km]=ការ​ហោះហើរ
Name[nds]=Flaag
Name[nl]=Vluchten
Name[pl]=Loty
Name[pt]=Voos
Name[pt_BR]=Voos
Name[sv]=Flyg
Name[uk]=Рейси
Name[x-test]=xxFlightsxx
Comment=Shows flight departures/arrivals for a given airport.
Comment[ca]=Mostra les sortides/arribades dels vols per a un aeroport indicat.
Comment[de]=Zeigt Abflüge/Ankünfte von Flügen auf einem angegebenen Flughafen an.
Comment[es]=Muestra las salidas/llegadas de vuelos a un aeropuerto dado.
Comment[et]=Määratud lennujaama saabuvate/väljuvate lendude näitamine.
Comment[fr]=Affiche les départs / arrivées de vols depuis un aéroport donné.
Comment[km]=បង្ហាញ​ការ​ចេញ​ដំណើរ/ការ​​មកដល់​នៃ​ជើង​ហោះហើរ​សម្រាប់​អាកាសយានដ្ឋាន​ដែល​បាន​ផ្ដល់
Comment[nl]=Vertrektijden/aankomsten van vluchten tonen voor een gegeven luchthaven.
Comment[pl]=Pokazuje przyloty/odloty dla danego lotniska.
Comment[pt]=Mostra partidas/chegadas de voos para um dado aeroporto.
Comment[pt_BR]=Mostra partidas/chegadas de voos de um determinado aeroporto.
Comment[sv]=Visa flygavgångar och ankomster för en given flygplats.
Comment[uk]=Показує графік вильотів/прильотів для вказаного аеропорту.
Comment[x-test]=xxShows flight departures/arrivals for a given airport.xx
Type=Service
Icon=vehicle_type_plane
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_flights
X-KDE-PluginInfo-Author=Friedrich Pülz
X-KDE-PluginInfo-Email=fpuelz@gmx.de
X-KDE-PluginInfo-Name=flights
X-KDE-PluginInfo-Version=0.1.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true

