[Desktop Entry]
Name=Public Transport
Comment=Plasma Public Transport shows a departure / arrival board for public transport. It can also show journeys.
Icon=public-transport-stop
Type=Service
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_publictransport
X-KDE-PluginInfo-Author=Friedrich Pülz
X-KDE-PluginInfo-Email=fpuelz@gmx.de
X-KDE-PluginInfo-Name=publictransport
X-KDE-PluginInfo-Version=0.10
X-KDE-PluginInfo-Website=http://userbase.kde.org/Plasma/Public_Transport
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true

