[Desktop Entry]
Name=Public Transport
Name[ca]=Transport públic
Name[ca@valencia]=Transport públic
Name[cs]=Veřejná doprava
Name[de]=Öffentlicher Nahverkehr
Name[es]=Transporte público
Name[et]=Ühiskondlik transport
Name[fr]=Transports publics
Name[ga]=Iompar Poiblí
Name[gl]=Transporte público
Name[hu]=Tömegközlekedés
Name[km]=ការ​ដឹកជញ្ជូន​សាធារណៈ
Name[mr]=सार्वजनिक वाहतूक
Name[nds]=APNV
Name[nl]=Openbaar vervoer
Name[pl]=Komunikacja publiczna
Name[pt]=Transportes Públicos
Name[pt_BR]=Transportes Públicos
Name[ro]=Transport public
Name[sk]=Verejná doprava
Name[sv]=Kollektivtrafik
Name[ug]=ئاممىۋى قاتناش
Name[uk]=Громадський транспорт
Name[x-test]=xxPublic Transportxx
Comment=Plasma Public Transport shows a departure / arrival board for public transport. It can also show journeys.
Comment[ca]=Transport públic de Plasma mostra un tauler d'arribades / sortides pel transport públic. També pot mostrar els viatges.
Comment[ca@valencia]=Transport públic de Plasma mostra un tauler d'arribades / eixides pel transport públic. També pot mostrar els viatges.
Comment[et]=Plasma ühiskondliku transpordi vidin näitab liiklusvahendite saabumis- ja lahkumisaegu, samuti teekondi.
Comment[fr]=L'application « Transports publics » pour Plasma affiche un panneau pour les départs / les arrivées des transports publics. Elle peut également indiquer des trajets.
Comment[gl]=Transporte Público de Plasma mostra as saídas e chegadas dos transportes públicos. Mostra tamén as xornadas.
Comment[km]=ការ​ដឹកជញ្ជូន​សាធារណៈ​បង្ហាញ​ក្ដារ​ចេញដំណើរ/មកដល់​សម្រាប់​ការ​ដឹកជញ្ជូន​សាធារណៈ ។ វា​ក៏​អាច​បង្ហាញ​ការ​ធ្វើ​ដំណើរ​បាន​​ផងដែរ ។
Comment[nl]=Plasma Openbaar vervoer toont een vertrek / aankomstbord voor openbaar vervoer. Het kan ook reizen tonen.
Comment[pl]=Komunikacja publiczna Plazmy pokazuje przyjazdy/odjazdy dla środków komunikacji publicznej. Może także pokazywać wędrówki.
Comment[pt]=Os Transportes Públicos do Plasma mostram uma tabela de partidas / chegadas para os transportes públicos. Também poderá mostrar as respectivas carreiras.
Comment[pt_BR]=Os Transportes Públicos do Plasma mostram os horários de partidas / chegadas dos transportes públicos. Ele também poderá mostrar os trajetos.
Comment[sk]=Plasma Public Transport zobrazuje odchody / príchody pre verejnú dopravu. Tiež môže zobraziť cesty.
Comment[sv]=Plasma kollektivtrafik visar en tavla med avgångar och ankomster för kollektivtrafik. Den kan också visa resor.
Comment[uk]=Плазмоїд громадського транспорту показує таблицю відправлення/прибуття для громадського транспорту. Він також може показувати маршрути.
Comment[x-test]=xxPlasma Public Transport shows a departure / arrival board for public transport. It can also show journeys.xx
Icon=public-transport-stop
Type=Service
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_publictransport
X-KDE-PluginInfo-Author=Friedrich Pülz
X-KDE-PluginInfo-Email=fpuelz@gmx.de
X-KDE-PluginInfo-Name=publictransport
X-KDE-PluginInfo-Version=0.11 beta
X-KDE-PluginInfo-Website=http://userbase.kde.org/Plasma/Public_Transport
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-NotificationArea=true
