[Desktop Entry]
Name=Public transport engine
Name[bs]=Pogon javnog prijevoza
Name[ca]=El motor Transport públic
Name[ca@valencia]=El motor Transport públic
Name[de]=Modul für Öffentlichen Nahverkehr
Name[es]=Motor para el transporte público
Name[et]=Ühiskondliku transpordi mootor
Name[fr]=Moteur de l'application « Transports publics »
Name[gl]=Motor de transporte público
Name[km]=ម៉ាស៊ីន​ដឹកជញ្ជូន​សាធារណៈ
Name[ko]=대중 교통 엔진
Name[mr]=सार्वजनिक वाहतूक इंजिन
Name[nds]=APNV-Karn
Name[nl]=Engine voor openbaar vervoer
Name[pl]=Silnik komunikacji publicznej
Name[pt]=Motor de transportes públicos
Name[pt_BR]=Mecanismo de transportes públicos
Name[ro]=Motor pentru transport public
Name[sk]=Nástroj verejnej dopravy
Name[sv]=Gränssnitt för kollektivtrafik
Name[uk]=Рушій громадського транспорту
Name[x-test]=xxPublic transport enginexx
Comment=Plasma data engine for public transport
Comment[bs]=Plazma pogon podataka za javni prijevoz
Comment[ca]=Motor de dades del Plasma pel transport públic
Comment[ca@valencia]=Motor de dades del Plasma pel transport públic
Comment[de]=Plasma-Datenquelle für den öffentlichen Nahverkehr
Comment[es]=Motor de datos de Plasma para el transporte público
Comment[et]=Plasma ühiskondliku transpordi andmete mootor
Comment[fr]=Moteur de données Plasma pour les transports publics
Comment[gl]=Motor de datos para os transporte público de Plasma
Comment[km]=ម៉ាស៊ីន​ទិន្នន័យ​ប្លាស្មា​​សម្រាប់​ការ​ដឹកជញ្ជូន​សាធារណៈ
Comment[ko]=Plasma 대중 교통 데이터 엔진
Comment[mr]=सार्वजनिक वाहतूक करिता प्लाज्मा डेटा इंजिन
Comment[nds]=Plasma-Datenkarn för APNV
Comment[nl]=Plasma gegevensengine voor openbaar vervoer
Comment[pl]=Silnik danych Plazmy dla komunikacji publicznej
Comment[pt]=Motor de dados do Plasma para transportes públicos
Comment[pt_BR]=Mecanismo de dados do Plasma para os transportes públicos
Comment[sk]=Dátový nástroj Plasma pre verejnú dopravu
Comment[sv]=Plasma datagränssnitt för kollektivtrafik
Comment[uk]=Рушій даних Плазми для громадського транспорту
Comment[x-test]=xxPlasma data engine for public transportxx
Icon=public-transport-stop
Type=Service

X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_engine_publictransport
X-Plasma-EngineName=publictransport
X-KDE-PluginInfo-Author=Friedrich Pülz
X-KDE-PluginInfo-Email=fpuelz@gmx.de
X-KDE-PluginInfo-Name=publictransport
X-KDE-PluginInfo-Version=0.11 beta
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
