[Desktop Entry]
Name=Public transport engine
Name[de]=Öffentlicher Nahverkehr
Name[es]=Motor de transporte público
Name[et]=Ühiskondliku transpordi mootor
Name[fr]=Moteur de transport publique
Name[hr]=Podrška za javni prijevoz
Name[km]=ម៉ាស៊ីន​បញ្ជូន​សាធារណៈ
Name[nds]=APNV-Karn
Name[pt]=Motor de transportes públicos
Name[sv]=Kollektivtrafikgränssnitt
Name[uk]=Рушій громадського транспорту
Name[x-test]=xxPublic transport enginexx
Comment=Plasma data engine for public transport
Comment[es]=Motor de datos de Plasma para transporte público
Comment[fr]=Moteur de données pour Transport publique
Comment[hr]=Plasma podrška za javni prijevoz
Comment[nds]=Plasma-Datenkarn för APNV
Comment[pt]=Motor de dados do Plasma para os transportes públicos
Comment[sv]=Plasma datagränssnitt för kollektivtrafik
Comment[uk]=Рушій даних Плазми для громадського транспорту
Comment[x-test]=xxPlasma data engine for public transportxx
Icon=public-transport-stop
Type=Service

X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_engine_publictransport
X-KDE-PluginInfo-Author=Friedrich Pülz
X-KDE-PluginInfo-Email=fpuelz@gmx.de
X-KDE-PluginInfo-Name=publictransport
X-KDE-PluginInfo-Version=0.5.4
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

