[Desktop Entry]
Name=Public Transport Runner Config
Name[x-test]=xxPublic Transport Runner Configxx
Comment=Configuration of the Public Transport Runner
Comment[x-test]=xxConfiguration of the Public Transport Runnerxx
Icon=public-transport-stop
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_krunner_publictransport
X-KDE-ParentComponents=PublicTransportRunner
X-KDE-PluginKeyword=kcm_krunner_publictransport
