[Desktop Entry]
Name=Public Transport Runner Config
Name[ca]=Arranjament de l'executor Transport públic
Name[ca@valencia]=Arranjament de l'executor Transport públic
Name[et]=Ühiskondliku transpordi käivitaja seadistused
Name[fr]=Configuration du lanceur de l'application « Transports publics »
Name[gl]=Configuración da vía de transporte público
Name[km]=ការ​កំណត់​រចនាសម្ព័ន្ធ​អ្នក​ដំណើរការ​ដឹកជញ្ជូន​សាធារណៈ
Name[mr]=सार्वजनिक वाहतूक रनर संयोजना
Name[nl]=Instellingen voor de starter van Openbaar vervoer
Name[pl]=Konfiguracja programu uruchamiającego komunikacji publicznej
Name[pt]=Configuração da Execução dos Transportes Públicos
Name[pt_BR]=Configuração da execução dos transportes públicos
Name[sk]=Nastavenie spúšťača verejnej dopravy
Name[sv]=Inställning av körprogram för kollektivtrafik
Name[uk]=Налаштування інструмента запуску «Громадського транспорту»
Name[x-test]=xxPublic Transport Runner Configxx
Comment=Configuration of the Public Transport Runner
Comment[ca]=Configuració de l'executor Transport públic
Comment[ca@valencia]=Configuració de l'executor Transport públic
Comment[et]=Ühiskondliku transpordi käivitaja seadistused
Comment[fr]=Configuration du lanceur de l'application « Transports publics »
Comment[gl]=Configurador da vía de transporte público
Comment[km]=ការ​កំណត់​រចនាសម្ព័ន្ធ​អ្នក​ដំណើរការ​ដឹកជញ្ជូន​សាធារណៈ
Comment[mr]=सार्वजनिक वाहतूक रनरची संयोजना
Comment[nl]=Instellingen voor de starter van Openbaar vervoer
Comment[pl]=Konfiguracja programu uruchomieniowego komunikacji publicznej
Comment[pt]=Configuração da Execução dos Transportes Públicos
Comment[pt_BR]=Configuração da execução dos transportes públicos
Comment[sk]=Nastavenie spúšťača verejnej dopravy
Comment[sv]=Inställning av körprogrammet för kollektivtrafik
Comment[uk]=Налаштування інструменту запуску «Громадського транспорту»
Comment[x-test]=xxConfiguration of the Public Transport Runnerxx
Icon=public-transport-stop
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_krunner_publictransport
X-KDE-ParentComponents=PublicTransportRunner
X-KDE-PluginKeyword=kcm_krunner_publictransport
