[Desktop Entry]
Name=GraphicalTimetableLine
Name[ast]=GraphicalTimetableLine
Name[bg]=GraphicalTimetableLine
Name[ca]=GraphicalTimetableLine
Name[ca@valencia]=GraphicalTimetableLine
Name[cs]=GraphicalTimetableLine
Name[da]=GraphicalTimetableLine
Name[de]=GraphicalTimetableLine
Name[el]=GraphicalTimetableLine
Name[en_GB]=GraphicalTimetableLine
Name[eo]=GraphicalTimetableLine
Name[es]=GraphicalTimetableLine
Name[et]=GraphicalTimetableLine
Name[fi]=GraphicalTimetableLine
Name[fr]=GraphicalTimetableLine
Name[ga]=GraphicalTimetableLine
Name[gl]=GraphicalTimetableLine
Name[hu]=GraphicalTimetableLine
Name[it]=GraphicalTimetableLine
Name[ja]=GraphicalTimetableLine
Name[kk]=GraphicalTimetableLine
Name[km]=GraphicalTimetableLine
Name[ko]=GraphicalTimetableLine
Name[lv]=GraphicalTimetableLine
Name[nb]=GraphicalTimetableLine
Name[nds]=GraphicalTimetableLine
Name[nl]=GraphicalTimetableLine
Name[nn]=GraphicalTimetableLine
Name[pa]=GraphicalTimetableLine
Name[pl]=GraphicalTimetableLine
Name[pt]=GraphicalTimetableLine
Name[pt_BR]=GraphicalTimetableLine
Name[ro]=GraphicalTimetableLine
Name[ru]=GraphicalTimetableLine
Name[sr]=GraphicalTimetableLine
Name[sr@ijekavian]=GraphicalTimetableLine
Name[sr@ijekavianlatin]=GraphicalTimetableLine
Name[sr@latin]=GraphicalTimetableLine
Name[sv]=GraphicalTimetableLine
Name[tr]=GraphicalTimetableLine
Name[uk]=GraphicalTimetableLine
Name[x-test]=xxGraphicalTimetableLinexx
Name[zh_CN]=GraphicalTimetableLine
Name[zh_TW]=GraphicalTimetableLine
Comment=Plasma GraphicalTimetableLine
Comment[ast]=Plasma GraphicalTimetableLine
Comment[ca]=Plasma GraphicalTimetableLine
Comment[ca@valencia]=Plasma GraphicalTimetableLine
Comment[cs]=Plasma GraphicalTimetableLine
Comment[da]=Plasma GraphicalTimetableLine
Comment[de]=Plasma GraphicalTimetableLine
Comment[el]=Plasma GraphicalTimetableLine
Comment[en_GB]=Plasma GraphicalTimetableLine
Comment[eo]=Plasma GraphicalTimetableLine
Comment[es]=Plasma GraphicalTimetableLine
Comment[et]=Plasma GraphicalTimetableLine
Comment[fi]=Plasma GraphicalTimetableLine
Comment[fr]=Plasma GraphicalTimetableLine
Comment[ga]=Plasma GraphicalTimetableLine
Comment[gl]=Plasma GraphicalTimetableLine
Comment[hu]=Plasma GraphicalTimetableLine
Comment[it]=Plasma GraphicalTimetableLine
Comment[ja]=Plasma GraphicalTimetableLine
Comment[kk]=Plasma GraphicalTimetableLine
Comment[km]=ប្លាស្មា GraphicalTimetableLine
Comment[ko]=Plasma GraphicalTimetableLine
Comment[lv]=Plasma GraphicalTimetableLine
Comment[nb]=Plasma GraphicalTimetableLine
Comment[nds]=Plasma GraphicalTimetableLine
Comment[nl]=Plasma GraphicalTimetableLine
Comment[nn]=Plasma GraphicalTimetableLine
Comment[pa]=ਪਲਾਜ਼ਮਾ GraphicalTimetableLine
Comment[pl]=Plazma GraphicalTimetableLine
Comment[pt]=Plasma GraphicalTimetableLine
Comment[pt_BR]=Plasma GraphicalTimetableLine
Comment[ro]=Plasma GraphicalTimetableLine
Comment[ru]=Plasma GraphicalTimetableLine
Comment[sr]=Плазмин GraphicalTimetableLine
Comment[sr@ijekavian]=Плазмин GraphicalTimetableLine
Comment[sr@ijekavianlatin]=Plasmin GraphicalTimetableLine
Comment[sr@latin]=Plasmin GraphicalTimetableLine
Comment[sv]=Plasma GraphicalTimetableLine
Comment[tr]=Plasma GraphicalTimetableLine
Comment[uk]=Плазма GraphicalTimetableLine
Comment[x-test]=xxPlasma GraphicalTimetableLinexx
Comment[zh_CN]=Plasma GraphicalTimetableLine
Comment[zh_TW]=Plasma GraphicalTimetableLine
Type=Service

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_graphicaltimetableline
X-KDE-PluginInfo-Author=Friedrich Pülz
X-KDE-PluginInfo-Email=fpuelz@gmx.de
X-KDE-PluginInfo-Name=graphicaltimetableline
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

