[Desktop Entry]
Name=GraphicalTimetableLine
Name[bs]=GrafičkiRasporedLinija
Name[ca]=GraphicalTimetableLine
Name[ca@valencia]=GraphicalTimetableLine
Name[de]=Grafischer Fahrplan
Name[es]=GraphicalTimetableLine
Name[fr]=GraphicalTimetableLine
Name[gl]=Liña gráfica da liña de horarios
Name[km]=GraphicalTimetableLine
Name[ko]=GraphicalTimetableLine
Name[nl]=GrafischeDienstregelingRegel
Name[pl]=Graficzny rozkład jazdy linii
Name[pt]=LinhaGráficaHorário
Name[pt_BR]=LinhaGráficaHorário
Name[sk]=GraphicalTimetableLine
Name[sv]=Grafisk tidtabellrad
Name[uk]=Графічний розклад авіаліній
Name[x-test]=xxGraphicalTimetableLinexx
Comment=Plasma GraphicalTimetableLine
Comment[bs]=Plazma GrafičkiRasporedLinija
Comment[ca]=GraphicalTimetableLine de Plasma
Comment[ca@valencia]=GraphicalTimetableLine de Plasma
Comment[de]=Grafischer Fahrplan für Plasma
Comment[es]=GraphicalTimetableLine de Plasma
Comment[fr]=Outil graphique de calendrier pour Plasma
Comment[gl]=Liña gráfica da liña de horarios para Plasma
Comment[km]=បន្ទាត់​កាលវិភាគ​ក្រាហ្វិក​ប្លាស្មា
Comment[ko]=Plasma GraphicalTimetableLine
Comment[nl]=Plasma GrafischeDienstregelingRegel
Comment[pl]=Graficzny rozkład jazdy linii dla Plazmy
Comment[pt]=LinhaGráficaHorário do Plasma
Comment[pt_BR]=LinhaGráficaHorário do Plasma
Comment[sk]=Plasma GraphicalTimetableLine
Comment[sv]=Plasma grafisk tidtabellrad
Comment[uk]=Графічний розклад авіаліній Плазми
Comment[x-test]=xxPlasma GraphicalTimetableLinexx
Type=Service

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_graphicaltimetableline
X-KDE-PluginInfo-Author=Friedrich Pülz
X-KDE-PluginInfo-Email=fpuelz@gmx.de
X-KDE-PluginInfo-Name=graphicaltimetableline
X-KDE-PluginInfo-Version=0.1.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

