[Desktop Entry]
Name=OpenStreetMap data engine
Name[bs]=OtvorenaMapaUlice podaci motora
Name[ca]=Motor de dades OpenStreetMap
Name[ca@valencia]=Motor de dades OpenStreetMap
Name[de]=OpenStreetMap-Datenmodul
Name[es]=Motor de datos de OpenStreetMap
Name[et]=OpenStreetMapi andmete mootor
Name[fr]=Moteur de données « OpenStreetMap »
Name[gl]=Motor de datos OpenStreetMap
Name[hu]=OpenStreetMap adatmotor
Name[km]=ម៉ាស៊ីន​ទិន្នន័យ OpenStreetMap
Name[ko]=OpenStreetMap 데이터 엔진
Name[mr]=ओपनस्ट्रीटमेप डेटाइंजिन
Name[nl]=Gegevensengine voor OpenStreetMap
Name[pl]=Silnik danych OpenStreetMap
Name[pt]=Motor de dados do OpenStreetMap
Name[pt_BR]=Mecanismo de dados do OpenStreetMap
Name[ro]=Motor de date OpenStreetMap
Name[sk]=Dátový nástroj OpenStreetMap
Name[sv]=Datagränssnitt för Open Street Map
Name[uk]=Рушій даних OpenStreetMap
Name[x-test]=xxOpenStreetMap data enginexx
Comment=The OpenStreetMap data engine can be used to query things near the user.
Comment[ca]=El motor de dades OpenStreetMap es pot utilitzar per consultar coses a prop de l'usuari.
Comment[ca@valencia]=El motor de dades OpenStreetMap es pot utilitzar per consultar coses a prop de l'usuari.
Comment[de]=Mit dem OpenStreetMap-Datenmodul können Informationen nahe dem Standort des Benutzers abgefragt werden.
Comment[es]=El motor de datos de OpenStreetMap puede ser usado para consultar eventos cercanos al usuario.
Comment[et]=OpenStreetMapi andmete mootorit saab kasutada teabe hankimiseks kasutaja lähedal asuvate objektide kohta.
Comment[fr]=Le moteur de données « OpenStreetMap » peut servir à faire une recherche dans le voisinage de l'utilisateur.
Comment[gl]=O motor de datos OpenStreetMap pódese usar para consultar os servizos de preto do usuario.
Comment[km]=ម៉ាស៊ីន​ទិន្នន័យ OpenStreetMap អាច​ត្រូវ​បាន​ប្រើ​ដើម្បី​សួររក​វត្ថុ​នៅ​ជិត​អ្នក​ប្រើ ។
Comment[ko]=OpenStreetMap 데이터 엔진을 사용하여 사용자 근처에 있는 것을 알아볼 수 있습니다.
Comment[nl]=De gegevensengine OpenStreetMap kan worden gebruikt om zaken in de buurt van de gebruiker op te vragen.
Comment[pl]=Silnik danych OpenStreetMap może być użyty do odpytania miejsc znajdujących się w pobliżu użytkownika.
Comment[pt]=O motor de dados do OpenStreetMap pode ser usado para pesquisar itens perto do utilizador.
Comment[pt_BR]=O mecanismo de dados OpenStreetMap pode ser usado para pesquisar itens próximos do usuário.
Comment[sk]=Dátový engine OpenStreetMap sa dá použiť na dotazovanie vecí pri používateľovi.
Comment[sv]=Datagränssnittet för Open Street Map kan användas för att fråga om saker nära användaren.
Comment[uk]=За допомогою рушія даних OpenStreetMap можна отримувати дані щодо об’єктів, розташованих поруч з користувачем.
Comment[x-test]=xxThe OpenStreetMap data engine can be used to query things near the user.xx
Type=Service

X-KDE-ServiceTypes=Plasma/DataEngine
X-Plasma-EngineName=openstreetmap
X-KDE-Library=plasma_engine_openstreetmap
X-KDE-PluginInfo-Author=Friedrich Pülz
X-KDE-PluginInfo-Email=fpuelz@gmx.de
X-KDE-PluginInfo-Name=openstreetmap
X-KDE-PluginInfo-Version=0.1.2
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

