[Desktop Entry]
Name=TimetableMate
Exec=timetablemate %i -caption "%c"
Icon=timetablemate
Type=Application
MimeType=application-x-publictransport-engine;application/xml;
X-DocPath=timetablemate/index.html
GenericName=A little IDE for adding support for new service providers to the PublicTransport data engine
Terminal=false
Categories=Qt;KDE;Development;IDE;
