[Desktop Entry]
Name=TimetableMate
Name[bs]=PomoćniRaspored
Name[ca]=TimetableMate
Name[ca@valencia]=TimetableMate
Name[de]=TimetableMate
Name[et]=Sõiduplaanimeister
Name[fr]=TimetableMate
Name[gl]=TimetableMate
Name[km]=TimetableMate
Name[ko]=TimetableMate
Name[nds]=TimetableMate
Name[nl]=DienstregelingMaatje
Name[pl]=Pomocnik rozkładu jazdy
Name[pt]=TimetableMate
Name[pt_BR]=TimetableMate
Name[sk]=TimetableMate
Name[sv]=Tidtabellkompanjon
Name[uk]=TimetableMate
Name[x-test]=xxTimetableMatexx
Exec=timetablemate %i -caption "%c"
Icon=timetablemate
Type=Application
MimeType=application-x-publictransport-engine;application/xml;
X-DocPath=timetablemate/index.html
GenericName=A little IDE for adding support for new service providers to the PublicTransport data engine
GenericName[bs]=Mali IDE za dodavanaje podrške za novi servis pružanja usluga za podatke motora JavnogPrijevoza
GenericName[ca]=Una petit IDE per afegir suport per a nous proveïdors de serveis al motor de dades PublicTransport
GenericName[ca@valencia]=Una petit IDE per afegir suport per a nous proveïdors de serveis al motor de dades PublicTransport
GenericName[de]=Eine einfache integrierte Entwicklungsumgebung mit Unterstützung für neue Dienstanbieter für das Datenmodul des öffentlichen Nahverkehrs
GenericName[et]=Väike arenduskeskkond uute teenusepakkujate toetuse lisamiseks ühiskondliku transpordi andmemootorile
GenericName[fr]=Un petit EDI pour ajouter la prise en charge de nouveaux fournisseurs de services au moteur de données « Transports publics » de Plasma.
GenericName[gl]=Unha pequena IDE para engadir novas fontes de liñas de servizos ao motor de transporte público
GenericName[km]=IDE តូច​សម្រាប់​បន្ថែម​កា​រគាំទ្រ​ក្រុមហ៊ុន​ផ្ដល់​សេវាកម្ម​ថ្មី​ទៅម៉ាស៊ីន​ទិន្នន័យ PublicTransport
GenericName[ko]=대중 교통 데이터 엔진에 새 서비스 공급자를 제공하는 작은 IDE
GenericName[nl]=Een kleine IDE voor toevoegen van ondersteuning voor nieuwe dienstenleveranciers aan de gegevensengine voor openbaar vervoer
GenericName[pl]=Małe IDE do dodawania wsparcia dla nowych dostawców usług do silnika danych plazmy 'TransportPubliczny'
GenericName[pt]=Um pequeno IDE para adicionar o suporte para novos fornecedores de serviços no motor de dados de transportes públicos
GenericName[pt_BR]=Um pequeno IDE para adicionar o suporte a novos fornecedores de serviços no mecanismo de dados de 'Transportes Públicos'
GenericName[sk]=Malé IDE na pridávanie podpory pre nových poskytovateľov služby pre dátový engine PublicTransport
GenericName[sv]=En liten integrerad utvecklingsmiljö för att lägga till stöd för nya operatörer i datagränssnittet för kollektivtrafik
GenericName[uk]=Просте комплексне середовище для додавання підтримки нових служб даних до рушія даних громадського транспорту
GenericName[x-test]=xxA little IDE for adding support for new service providers to the PublicTransport data enginexx
Terminal=false
Categories=Qt;KDE;Development;IDE;
