[Desktop Entry]
Name=TimetableMate
Name[ca]=TimetableMate
Name[de]=TimetableMate
Name[et]=Sõiduplaanimeister
Name[fr]=TimetableMate
Name[km]=TimetableMate
Name[nds]=TimetableMate
Name[pl]=Pomocnik rozkładu jazdy
Name[pt]=TimetableMate
Name[pt_BR]=TimetableMate
Name[sv]=Tidtabellkompanjon
Name[uk]=TimetableMate
Name[x-test]=xxTimetableMatexx
Exec=timetablemate %i -caption "%c"
Icon=timetablemate
Type=Application
MimeType=application-x-publictransport-engine;application/xml;
X-DocPath=timetablemate/index.html
GenericName=A little IDE for adding support for new service providers to the PublicTransport data engine
GenericName[ca]=Una aplicació d'ajuda per afegir proveïdors a PublicTransport
GenericName[et]=Abirakendus pakkujate lisamiseks ühiskondlikule transpordile
GenericName[fr]=Une application d'aide pour ajouter des prestataires à l'application Transports publics
GenericName[km]=កម្មវិធី​ជំនួយ​ដើម្បី​បន្ថែម​កម្មវិធី​ផ្ដល់​ទៅកាន់​ PublicTransport
GenericName[pl]=Program pomocniczy do dodawania dostawców środków komunikacji publicznej
GenericName[pt]=Uma aplicação auxiliar que adiciona fornecedores aos Transportes Públicos
GenericName[pt_BR]=Um aplicativo auxiliar que adiciona fornecedores aos Transportes Públicos
GenericName[sv]=Ett hjälpprogram för att lägga till operatörer i kollektivtrafik
GenericName[uk]=Допоміжна програм для додавання записів джерел даних системи розкладу громадського транспорту
GenericName[x-test]=xxA helper application to add providers to PublicTransportxx
Terminal=false
Categories=Qt;KDE;Development;IDE;
