[Desktop Entry]
Name=TimetableMate
Name[de]=TimetableMate
Name[et]=Sõiduplaanimeister
Name[pt]=TimetableMate
Name[pt_BR]=TimetableMate
Name[sv]=Tidtabellkompanjon
Name[uk]=TimetableMate
Name[x-test]=xxTimetableMatexx
Exec=timetablemate %i -caption "%c"
Icon=timetablemate
Type=Application
X-DocPath=timetablemate/index.html
GenericName=A helper application to add providers to PublicTransport
GenericName[et]=Abirakendus pakkujate lisamiseks ühiskondlikule transpordile
GenericName[pt]=Uma aplicação auxiliar que adiciona fornecedores aos Transportes Públicos
GenericName[pt_BR]=Um aplicativo auxiliar que adiciona fornecedores aos Transportes Públicos
GenericName[sv]=Ett hjälpprogram för att lägga till operatörer i kollektivtrafik
GenericName[uk]=Допоміжна програм для додавання записів джерел даних системи розкладу громадського транспорту
GenericName[x-test]=xxA helper application to add providers to PublicTransportxx
Terminal=false
Categories=Qt;KDE;Development;IDE;
