[Desktop Entry]
Name=TimetableMate
Exec=timetablemate %i -caption "%c"
Icon=timetablemate
Type=Application
X-DocPath=timetablemate/index.html
GenericName=A helper application to add providers to PublicTransport
Terminal=false
Categories=Qt;KDE;Development;IDE;
