[Desktop Entry]
Name=Public Transport
Name[cs]=Veřejná doprava
Name[de]=Öffentlicher Nahverkehr
Name[et]=Ühiskondlik transport
Name[nl]=Openbaar vervoer
Name[pt]=Transportes Públicos
Name[pt_BR]=Transportes Públicos
Name[sv]=Kollektivtrafik
Name[uk]=Громадський транспорт
Name[x-test]=xxPublic Transportxx
Comment=Gives information about public transport departing from a given stop
Comment[et]=Teave ühiskondliku transpordi väljumiste kohta määratud peatusest
Comment[pt]=Dá informações acerca das partidas de transportes públicos de uma dada paragem
Comment[pt_BR]=Fornece informações sobre transportes públicos que partem de um ponto determinado
Comment[sv]=Ger information om kollektivtrafik som avgår från en viss hållplats
Comment[uk]=Надає дані щодо громадського транспорту, яким можна скористатися на вказаній зупинці
Comment[x-test]=xxGives information about public transport departing from a given stopxx
Icon=public-transport-stop

X-KDE-ServiceTypes=Plasma/Runner
Type=Service
X-KDE-Library=krunner_publictransport
X-KDE-PluginInfo-Author=Friedrich Pülz
X-KDE-PluginInfo-Email=fpuelz@gmx.de
X-KDE-PluginInfo-Name=PublicTransportRunner
X-KDE-PluginInfo-Version=0.1.2
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
